<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

	<!-- Configures the @Controller programming model -->
	<mvc:annotation-driven />
	<aop:aspectj-autoproxy proxy-target-class="true" />
	<!--<context:component-scan base-package="com.infinity.controller" />-->
	<!-- Load resource  -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<!--<value>file:/var/server-config/auth/data-access.properties</value>-->
				<value>classpath:data-access.properties</value>
			</list>
		</property>
		<property name="fileEncoding">
			<value>UTF-8</value>
		</property>
	</bean>

	<context:component-scan base-package="com.infinity"	use-default-filters="false">
		<context:include-filter type="annotation"
								expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation"
								expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>

	<mvc:default-servlet-handler/>

	<!-- 拦截器 -->
	<!--<mvc:interceptors>-->
	<!--&lt;!&ndash; 多个拦截器,顺序执行 &ndash;&gt;-->
	<!--<mvc:interceptor>-->
	<!--<mvc:mapping path="/*" /> &lt;!&ndash;如果不配置或/*,将拦截所有的Controller &ndash;&gt;-->
	<!--<bean-->
	<!--class="com.gongfutrip.service.api.interceptors.AuthenticationInterceptor" />-->
	<!--</mvc:interceptor>-->
	<!--</mvc:interceptors>-->

	<!-- 返回JSON -->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/json;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
</beans>
